
body {
	height: 100%;
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: "Montserrat";
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

.jumbotron {
	background-color:transparent !important;
	color: white;
}

h1 {
	font-weight: 100;
	color: #FFB700;
}

hr {
	border: 1px solid white;
	width: 50%;
}

p {
	color: white;
	font-weight: 100;
	font-size: 1.25rem;
}

#section {
	margin-top: 100px;
}