html {
	height: 100%;
}
body {
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: "Montserrat";
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

.heading {
	color: #FFB700;
	font-weight: 100;
}

#submitButton {
	background: #FFB700;
	color: black;
	font-weight: 400;
	border: none;
	display: block;
}

#submitButton:hover {
	background: rgb(128, 0, 32);
	color: white;
}

#form-group {
	margin-top: 100px;
}