body {
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: "Montserrat";
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}


.h7 {
    font-size: 0.9rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 375px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    
    .gedf-card {
    	margin-bottom: 2.77rem;
    }
    
    .card-header{
	background-color: rgba(0, 0, 0, 0.9);
	
	}
	
	.card-body {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
	}
	
	.card {
		border: 1px solid rgb(128, 0, 32);
	}
	
	#username {
		color: #FFB700;
	}
	
	#name {
		color: rgb(128, 0, 32);
	}
	
	img {
		max-width: 100%;
		height: auto;
	}

}         

@Media(max-width: 400px) {
		
	body {
		background-image:
	    				linear-gradient(
	      				rgba(0, 0, 0, 0.5),
	      				rgba(0, 0, 0, 0.5)
	    				),
	    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	
		font-family: "Montserrat";
	}
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

	/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFB700; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 0, 32); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

a {
	color: #FFB700;
}

a:hover {
	color: rgb(128, 0, 32);
}

.custom-circle-image {
  width: 4vw; /* note i used vw not px for better responsive */
  height: 4vw;
  border-radius: 50%;
  object-fit: cover;
}

.card-header{
	background-color: rgba(0, 0, 0, 0.9);
	
}

.card-body {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.card {
	border: 1px solid rgb(128, 0, 32);
}

#username {
	color: #FFB700;
}

#name {
	color: rgb(128, 0, 32);
}

img {
	max-width: 100%;
	height: auto;
}

.post-image {
	width: 80%;
	margin: 0 auto;
}