body {
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	font-family: montserrat;
}

html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

#content {
	text-align: center;
	padding-top: 1%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1), 
				 0px 18px 23px rgba(0,0,0,0.1);
	color: white;
}

#tagline {
	padding-bottom: 20px;
}

.card-img-top {
	height: 220px;
}

.jumbotron {
	background: transparent;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1), 
				 0px 18px 23px rgba(0,0,0,0.1);
}

.my-4 {
	border-color: white;
}
