html {
	height: 100%;
}

body {
	background-image: 
					linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
					url('https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat" sans-serif;
}

h1 {
	color: #FFB700;
	font-weight: 100;
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

#loginButton {
	background: #FFB700;
	color: black;
	font-weight: 100;
	border: none;
	display: block;
}

.display-4 {
	font-weight: 100;
}

#content {
	margin-top: 150px;
}

#loginArea {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	height: 300px;
}
