body {
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: "Montserrat";
}

html, body {
		height: 100%;
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

#profileArea {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 25px;
}

#header {
	color: #FFB700;
	font-weight: 200;
	margin-top: 10px;	
}

hr { 
	display: block;
	height: 1px;
    border: 0; 
    border-top: 1px solid rgb(128, 0, 32);
    margin-left: 100px; 
    margin-right: 100px;
    padding: 0; 
}

.user-info {
	font-size: 25px;
	font-weight: 200;	
	color: rgb(128, 0, 32);
}

.user-info-heading {
	font-size: 25px;
	font-weight: 200;
	color: #FFB700;
}

.profilePicture {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#postArea {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: "Montserrat" sans-serif;
	font-weight: 200;
	overflow-wrap: break-word;
	word-wrap: break-word;
	border-radius: 15px;
	border: 2px solid #FFB700;
	margin: 20px 0px;
	padding: 10px;
}

#postChain {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 500px;
}

#username {
	color: rgb(128, 0, 32);
}

.image {
	width: 100%;
	height: 100%;
}

#imageArea {
	height: 70%;
}

.divider {
	border-right: 2px solid rgb(128, 0, 32);
}

.group-info {
	margin-top: 80px;
}

	/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFB700; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 0, 32); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.post-header {
	color: white;
}