html {
	height: 100%;
}

body {
	background-image: 
					linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
					url('https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat";
}

h1 {
	color: #FFB700;
	font-weight: 100;
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

#submitPost {
	background: #FFB700;
	color: black;
	font-weight: 400;
	border: none;
	display: block;
}

#submitPost:hover {
	background: rgb(128, 0, 32);
	color: #FFB700;
	font-weight: 400;
	border: none;
	display: block;
}

#color {
	background-color: rgba(0, 0, 0, 0.7);
}

.form-control:focus {
  border-color: #FFB700;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.display-4 {
	font-weight: 100;
}

#content {
	margin-top: 150px;
}

@Media (max-width: 400px) {
	#content {
		margin-top: 75px;
	}
}

input[type="file"]{
	display: none;
}

label {
	color: black;
	background-color: #FFB700;
	display: block;
	border-radius: .25rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

label:hover {
	color: #FFB700;
	background-color: rgb(128, 0, 32);
	display: block;
	border-radius: .25rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 375px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    
    .gedf-card {
    	margin-bottom: 2.77rem;
    }
    
    .card-header{
	background-color: rgba(0, 0, 0, 0.9);
	
	}
	
	.card-body {
		background-color: rgba(0, 0, 0, 0.8);
		color: white;
	}
	
	.card {
		border: 1px solid rgb(128, 0, 32);
	}
	
	#username {
		color: #FFB700;
	}
	
	#name {
		color: rgb(128, 0, 32);
	}
	
	img {
		max-width: 100%;
		height: auto;
	}
	
	body {
		background-image:
	    				linear-gradient(
	      				rgba(0, 0, 0, 0.5),
	      				rgba(0, 0, 0, 0.5)
	    				),
	    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	
		font-family: "Montserrat";
	}
}         

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

	/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFB700; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 0, 32); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

a {
	color: #FFB700;
}

a:hover {
	color: rgb(128, 0, 32);
}

.custom-circle-image {
  width: 4vw; /* note i used vw not px for better responsive */
  height: 4vw;
  border-radius: 50%;
  object-fit: cover;
}

.card-header{
	background-color: rgba(0, 0, 0, 0.9);
	
}

.card-body {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.card {
	border: 1px solid rgb(128, 0, 32);
}

#username {
	color: #FFB700;
}

#name {
	color: rgb(128, 0, 32);
}

img {
	max-width: 100%;
	height: auto;
}

.post-image {
	width: 80%;
	margin: 0 auto;
}
