html {
	height: 100%;
}

body {
	background-image: 
					linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
					url('https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Montserrat";
}

h1 {
	color: #FFB700;
	font-weight: 100;
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

#submitPost {
	background: #FFB700;
	color: black;
	font-weight: 400;
	border: none;
	display: block;
}

#submitPost:hover {
	background: rgb(128, 0, 32);
	color: #FFB700;
	font-weight: 400;
	border: none;
	display: block;
}

#textArea {
	display: block;
	border: 2px solid #FFB700;
	outline: 2px solid rgb(128, 0, 32);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.display-4 {
	font-weight: 100;
}

#content {
	margin-top: 150px;
}

input[type="file"]{
	display: none;
}

label {
	color: black;
	background-color: #FFB700;
	display: block;
	border-radius: .25rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}

label:hover {
	color: #FFB700;
	background-color: rgb(128, 0, 32);
	display: block;
	border-radius: .25rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}
