body {
	background-image:
    				linear-gradient(
      				rgba(0, 0, 0, 0.5),
      				rgba(0, 0, 0, 0.5)
    				),
    				url(https://media.gettyimages.com/photos/dwayne-haskins-of-the-washington-redskins-looks-to-pass-against-the-picture-id1190294193?s=2048x2048);
	background-size: cover;
	background-position: center;
	font-family: "Montserrat";
}

html {
	height: 100%;
}

#mainNavbar {
	font-weight: 100;
	font-size: 1.5rem;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #FFB700;
}

#mainNavbar .navbar-brand {
	font-size: 1.5rem;
	color: #FFB700;
}

h1 {
	font-weight: 100;
	color: #FFB700;
}

#submitButton {
	background: #FFB700;
	color: black;
	font-weight: 400;
	border: none;
	display: block;
}

#content {
	margin-top: 100px;
}

.error {
	color: red;
	font-weight: 100;
	font-size: .25rem;
}

input[type="file"]{
	display: none;
}

label {
	color: black;
	background-color: #FFB700;
	display: block;
	border-radius: .25rem;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	cursor: pointer;
}